body{
    background-color: #000000;
    background-image: url('./Fundo\ do\ Projeto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#root{
    height: 100vh;
}