.background{
    margin: auto;
    display: flex;
    padding: 3vh;
    width: 30vh;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    background-color: #00437079;
    backdrop-filter: blur(3px);
    border-radius: 5vh;
    border: 0.5vh solid white;
}

.background h1{
    width: 100%;
    margin: 2vh 0;
}

.icons svg{
    height: 4vh;
    width: 4vh;
}

.Pencil{
    margin: 0 2vh;
}

.background img{
    border-radius: 2vh;
    height: 15vh;
}