.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
    background-color: #0080cfb0;
    border-radius: 2vh;
    border: 0.4vh solid white;
    margin-right: 2vh;

}

.form input{
    font-size: 3.5vh;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    text-align: center;
    border: none;
    margin-bottom: 2vh;
    width: auto;

}

.form input::placeholder{
    color: white;
    font-size: 3vh;
    font-weight: bold;
}

.form button{

}