.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
    background-color: #0080cfb0;
    border-radius: 2vh;
    border: 0.4vh solid white;
    margin-right: 2vh;
    align-items: center;
}

.form input {
    font-size: 3.5vh;
    color: white;
    text-align: center;
    border: none;
    margin-bottom: 2vh;
    height: 6vh;
    border-radius: 3vh;
    border: 0.2vh solid white;

}

.form input::placeholder {
    color: white;
    font-size: 3vh;
    font-weight: bold;
}

.inputSubt {
    font-weight: bold;
    background-color: #004370;
}

.form ul {
    max-height: 30vh;
    overflow: auto;
    scrollbar-width: none;
}

.form ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: 1s;

}

.form ul li input {
    font-size: 2vh;
    background-color: rgba(255, 0, 0, 0);
}

.btns1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
}

.btns2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vh;
}

.form ul li input::placeholder {
    font-size: 2vh;

}

.btn {
    height: 4vh;
    width: 8vh;
    text-align: center;
    background-color: #004370;
    border-radius: 1vh;
    border: 0.2vh solid white;
    color: white;
    font-size: 3vh;
    cursor: pointer;
}

