.body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vh;
    flex-wrap: wrap;
}

.background {
    margin: auto;
    display: flex;
    width: 30vh;
    height: 25vh;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    background-color: #00437079;
    backdrop-filter: blur(3px);
    border-radius: 5vh;
    border: 0.5vh solid white;
}

.background h1 {
    width: 100%;
}

.backgroundMSG {
    margin: auto;
    position: absolute;
    display: flex;
    padding: 3vh 3vh 6vh 3vh;
    width: 20vh;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    background-color: #004370c5;
    backdrop-filter: blur(3px);
    border-radius: 5vh;
    border: 0.5vh solid white;
}

.backgroundMSG h1 {
    margin-bottom: 2vh;

}

.backgroundMSG button {

    padding: 1vh 2vh;
    margin-bottom: 2vh;
    border-radius: 1.5vh;
    border: none;
    cursor: pointer;

}