.body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10vh;
    flex-wrap: wrap;
    height: 100vh;
    width: 150vh;
    margin: auto;
}

.background {
    margin: auto;
    display: flex;
    width: 30vh;
    height: 25vh;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    background-color: #00437079;
    backdrop-filter: blur(3px);
    border-radius: 5vh;
    border: 0.5vh solid white;
}

.background h1 {
    width: 100%;
}