.body {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../src/Img/Fundo\ do\ Projeto.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}